---
layout: page
title: Directory
permalink: /directory/
headerTitle: Veranstaltung
headerSubCopy: Mit Hardware-Wartung unabhängig von den Herstellern können Sie zusätzliche Kosten vermeiden.
custom_head_datatables: true
---

{% include global-header.html %}
<style>
    p {
        font-size: 20px;
        line-height: 34px;
    }

    blockquote {
        padding: 10px 20px;
        margin: 0 4% 20px;
        font-size: 17.5px;
        border-left: 5px solid #eee;
        font-style: italic;
        line-height: 2;
        background: antiquewhite;
    }
</style>

<div class="container">
    <div class="row">
        <h3>Veranstaltung</h3>

        <h4>Vorgeschichte</h4>

        <p>

            Nach vorherigen Versuchen von Flugpostbeförderungen in den Jahren 1909, 1911 und 1912 war die Flugpost am
            Rhein und am Main im Juni 1912 die erste ihrer Art, bei der es zu einer engen und intensiven Zusammenarbeit
            zwischen der damaligen Reichspost und dem Veranstalter unter technischer Mitwirkung der DELAG (Deutsche
            Luftschifffahrts- Aktiengesellschaft) gekommen war. Hierbei handelte es sich um eine Sonderbeförderung,
            während der eigentliche, planmäßige Luftpostdienst in Deutschland erst sieben Jahre später, am 06. Februar
            1919, mit der Inbetriebnahme der regulären Luftlinie Berlin - Weimar eröffnet wurde.
        </p>
        <p>
            Insoweit kommt der Initiatorin, Ihre Königliche Hoheit Großherzogin Eleonore von Hessen und bei Rhein, das
            Prädikat zu, findig und ihrer Zeit voraus gewesen zu sein, uneigennützig über der Verkauf von Zusatzporto
            und Sonderkarten, welche extra zu diesem Anlass hergestellt wurden, einer wohltätigen Organisation hilfreich
            unter die Arme zu greifen. Die ursprüngliche Anregung soll vom befreundeten Flugzeugkonstrukteur August
            Euler gekommen sein.
        </p>
        <p>
            Bereits im Jahre 1906 wurde anlässlich der Geburt ihres Sohnes, Erbgroßherzog Georg Donatus, die „Ernst
            Ludwig und Eleonore-Stiftung" gegründet, welche die „Großherzogliche Zentrale für Mütter- und
            Säuglingsfürsorge", ausgestattet mit einem gezeichneten Grundvermögen von 50.000 Mark, ins Leben gerufen
            hatte und auch gegenwärtig noch als Trägerin einer Kinderklinik in Darmstadt fungiert. Da die Mittel des
            Stiftungsvermögens allein für den Zweck bei weitem nicht ausreichten, sind Spendensammlungen verschiedenster
            Art durchgeführt worden.
        </p>
        <figure>
            <img src="/images/uploads/eleonore_zu_solms-hohensolms-lich_1871.jpg"
                 alt="Eleonore Großherzogin von Hessen und bei Rhein (geb. Solms-Hohensolms-Lich) 1871-1937">
            <figcaption>Eleonore Großherzogin von Hessen und bei Rhein (geb. Solms-Hohensolms-Lich) 1871-1937
            </figcaption>
        </figure>
        <p>
            In den Jahren 1907 bis 1909 wurden an so genannten Blumenverkaufstagen von Künstlern gestaltete Sonderkarten
            verausgabt. Im Jahre 1910 wurde von der Großherzoglichen Fürsorgezentrale eine anschriftenseitig nummerierte
            Serie von sechs schwarz-weiß Fotokarten mit Bildmotiven (anschriftenseitig schwarzem Druck) aus dem Leben
            der großherzoglichen Familie herausgegeben. Im Jahre 1911 erfolgte die Ausgabe von insgesamt bisher bekannt
            gewordenen 12 bildgleicher, bildlich geänderter, bzw. zusätzlicher Fotokarten mit anschriftenseitig
            braunfarbenem Druck. Der Popularität der großherzoglichen Familie wegen erfreuten sich die Karten 1910/1911
            insgesamt großer Beliebtheit, so dass Restmengen auch im Rahmen der kurzfristig von einer Postkartenwoche in
            Flugwochen („Luftpostkarten-Verkaufstage") abgeänderte Veranstaltung von 1912 gelegentliche Verwendung
            fanden. Aus den Anfängen einer einzigen Künstlerkarte zum Blumentag 1907 wurden 1910 sechs und 1911
            siebzehn, teils bildgleiche, Sonderkarten. Ein offizieller Verkaufstag war längst unzureichend. Deshalb
            entschied sich das „Patronat der Großherzoglichen Zentrale für Mutter- und Säuglingsfürsorge in Hessen"
            Anfang April 1912 mittels Sonderkuvert zu der Ankündigung einer „Postkartenwoche der Großherzogin" an alle
            Großherzoglichen Hessischen Kreisämter, welche mit einer Siegelmarke, einer Briefverschlussmarke versehen
            wurden. Es folgen weitere Anweisungen und Schriftwechsel mit den Oberpostdirektionen Darmstadt und Frankfurt
            sowie dem Reichspostamt Berlin. Bis zu diesem Zeitpunkt hatte sich die Reichspost mit derartigen Dingen
            nicht abgegeben, aber schließlich behandelte die Post die Wünsche der Großherzogin wohlwollend und
            beteiligte sich zum ersten Mal an einem Luftpostdienst. Das großherzogliche Paar weilte bei den Verwandten,
            der Zarenfamilie in Russland. Auf der Krim entstanden Aufnahmen von den Kindern beider Familien. Diese
            Bilder dienten später als Bildvorlagen. Dann passierte die Sensation. Am 04. Juni 1912 wurden die Kreisämter
            darüber unterrichtet, anstelle einer Postkartenwoche fände eine Flugpostkartenwoche mit eigenen
            Luftpostmarken statt. Die Unterrichtung der Presse erfolgte am 06. Juni 1912. Alles überschlug sich, so dass
            der angekündigte Beginn, Sonntag, der 09. Juni 1912 nicht mehr gehalten werden konnte.
        </p>

        <h4>Vorbereitung</h4>

        <p>
            Zunächst galt es für den Veranstalter die technischen Voraussetzungen für die erstmalige Beförderung der
            Post auf dem Luftwege zu schaffen. Mit der DELAG und den Euler-Werken konnten die damals führenden
            Entwickler und Betreiber von Luftfahrzeugen gewonnen werden. Mit diesen hatte die Großherzogliche Zentrale
            die Beförderung der Flugpostkarten mit dem Zeppelin-Luftschiff "Schwaben" und durch das Euler-Flugzeug
            "Gelber Hund" im Rhein-Main-Gebiet vereinbart. Dabei war das Patronat bemüht, die Luftbeförderungskosten
            möglichst niedrig zu halten, da es sich um eine Wohltätigkeitsveranstaltung handelte. Während der
            befreundete August Euler die Flugzeugaufwendungen aus eigenem Budget finanzierte, ist bekannt geworden, dass
            die DELAG ihr Luftschiff immerhin für die erste Fahrt unentgeltlich zur Verfügung stellte, von da ab aber
            für den 20 kg-Sack Postkarten 50 Mark berechnete und dementsprechend die zweite Postbeförderung mit rund
            1.000 Mark zu Buche schlug.
        </p>

        <p>
            Der Deutschen Reichspost wurde die Aufgabe zugedacht, die in die regulären örtlichen Briefkästen
            eingeworfenen Postkarten auszusortieren und der jeweils nächstgelegenen Sonderpostabfertigungsstelle zum
            dortigen Abstempeln, Ordnen und Bündeln zuzuleiten. Weiterhin den Postaustausch in postamtlich
            verschlossenen Beuteln mit den Luftfahrzeugen zu besorgen und die geflogenen Postkarten an die Empfänger im
            In- und Ausland auf dem gewöhnlichen Postwege weiterzuleiten. Das dies nicht so einfach mit einer
            kaiserlichen Behörde umzusetzen war, ist auch aus heutiger sicht noch nachvollziehbar.
        </p>

        <p>
            Schließlich lief parallel hierzu auch eine Werbekampagne an, welche auch nach heutigen Maßstäben als
            durchaus professionell bezeichnet werden kann. Aus dem Inhalt eines Schreibens des Patronates im Mai 1912 an
            die örtlichen Vereine:
        </p>

        <blockquote>
            > "Wie Ihnen wohl schon bekannt ist, veranstalten Ihre Königliche Hoheit die Frau Grossherzogin in der
            zweiten Woche des Juni eine allgemeine Postkartenwoche zum Besten der Mutter- und Säuglingsfürsorge. Es ist
            dabei beabsichtigt, auch Vereine, deren Wirkungskreis nicht unmittelbar auf dem Gebiet der Mutter- und
            Säuglingsfürsorge liegt, zu bitten, bei dem Verkauf der Postkarten- und Wohlfahrtsbilder mitzuwirken. Diese
            Vereine erhalten zu Gunsten ihres Vereinsvermögens den unten erwähnten Rabatt. Zum Verkauf gelangen:
            > 1. Postkarten in Bromsilber-Ausführung mit neuen Aufnahmen Seiner Königlichen Hoheit des Grossherzogs,
            Ihrer Königliche Hoheit der Frau Grossherzogin, der Grossherzoglichen Prinzen und eine neue Gruppenaufnahme
            der Grossherzoglichen Familie, sowie gut ausgeführte Buntdruckkarten nah Originalen von Eugen Bracht. Der
            Verkaufspreis an das Publikum beträgt 10 Pfg. pro Stück. Die eingangs erwähnten Vereine erhalten bei fester
            Bestellung von mindestens 50 Stück einen Rabatt von 2 Pfg. pro Karte.
            > 2. Wohlfahrtsbilder mit denselben Aufnahmen in der Grösse von 19/26 cm und einem Passepartout zum
            Aufstellen. Der Verkaufspreis dieser Bilder beträgt 1 Mk. Die genannten Vereine erhalten bei einer festen
            Bestellung von mindestens 10 Stück einen Rabatt von 30 Pfg. pro Bild.
            > Restbestände können auch nach Ablauf der Postkartenwoche ohne Zeitgrenze vertrieben werden. Wir wären auch
            Ihrem Verein dankbar, wenn er sich an dem Verkauf der Postkarten und Bilder im Interesse der guten Sache
            beteiligte und eine wenn auch kleine Anzahl von Bildern oder Postkarten fest bestellte. Bestellungen bitten
            wir umgehend an das Kreiskomitee unseres Kreises (Adresse Großes Kreisamt) zu richten, da spätere
            Bestellungen von den liefernden Firmen vielleicht nicht mehr ausgeführt werden könnten. Probebilder und
            Probekarten sind in dem Laden in Darmstadt, Wilhelminenstr. 35 (Ecke Hügelstr.) und in mehreren anderen
            Läden ausgestellt."
        </blockquote>
        <p>
            In einem Schreiben des Patronates (Regierungsrat Pistor) am 06. Juni 1912 an die örtlichen
            Zeitungsredaktionen heißt es:
        </p>

        <blockquote>
            > "Unikum für Markensammler. Die erste deutsche Luftpostmarke ist soeben erschienen und gelangt zur
            Postkartenwoche der Großherzogin von Hessen am 09. Juni erstmalig und nur für wenige Tage im Großherzogtum
            und
            in Frankfurt a. M. zur Ausgabe. Die von Prof. Kleukens entworfene Marke zeigt auf rotbraunem Grund als
            Symbol
            der Flugpost einen im Licht der aufgehenden Sonne über den Wolken schwebenden Phantasievogel. Die Auflage
            ist
            beschränkt; die Marken erhalten also einen besonderen Wert. Bedingung der Genehmigung des Reichspostamtes
            war
            die Garantie, dass alle Luftpostkarten wenigstens einen Teil des Postwegs durch die Luft zurücklegen
            (Postluftschiff "Schwaben"; Flugzeuge). Der Stempel der Reichspost lautet: "Flugpost am Rhein und Main,
            Frankfurt oder Darmstadt - (folgt Datum)". Die Flugpost befördert vom 9. Juni ab die offiziellen Karten, die
            in
            die Briefkästen der Reichspost zu werfen sind, überall hin. Die Postkartenwoche steht unter dem Patronate
            der
            Großherzogin von Hessen. Der Ertrag dient den von ihr verfolgten gemeinnützigen Zwecken (Anfragen unter
            Postkartenwoche, Altes Palais, Darmstadt)."

        </blockquote>

        <figure>
            <img src="/images/uploads/siegel.jpg" alt="Siegelmarke auf Werbebrief">
            <figcaption>Siegelmarke auf Werbebrief</figcaption>
        </figure>

        <figure>
            <img src="/images/uploads/anzeige.jpg" alt="Werbeanzeige Darmstädter Tagblatt Montag, 10. Juni 1912">
            <figcaption>Werbeanzeige Darmstädter Tagblatt Montag, 10. Juni 1912</figcaption>
        </figure>

        <h4>Örtlichkeiten</h4>
        <p>
            Im Zentrum der Postkartenwoche, welche unter der Schirmherrschaft (Protektorat) Ihrer Königlichen Hoheit der
            Großherzogin Eleonore von Hessen und Rhein stand, stand nicht etwa Frankfurt am Main, sondern die
            Residenzstadt
            Darmstadt. Und dort stand der damalige Exerzierplatz (im Jahre 2010 im Viertel : Rheinstraße, Berliner
            Allee,
            Spree- und Havelstraße belegen) im Mittelpunkt:
        </p>
        <p>
            Aus Sicht der Luftfahrt war bei der Aktion die Stadt Frankfurt am Main von besonderer Bedeutung. Dort befand
            sich, im Gegensatz zu den anderen Städten, einen Luftschiff-Landeplatz auf dem Rebstock-Gelände. Außerdem
            befand
            sich in dem Frankfurter Vorort Niederrad der Euler-Werke-Flugplatz.
        </p>
        <p>
            Aufstieg des Luftschiffes "Schwaben" auf dem Rebstock-Gelände in Frankfurt am Main zur ersten Postfahrt nach
            Offenbach am Main am 12. Juni 1912
        </p>

        <h4>Postalischer Hintergrund</h4>
        <p>
            Für die postalische Organisation war übergeordnet das Reichs-Postamt mit Sitz in Berlin (RPA) zuständig. Als
            Bindeglied zu den örtlichen Postämtern fungierten als Mittelbehörden die beiden gleichrangigen kaiserlichen
            Ober-Postdirektionen in Frankfurt am Main (verantwortlich für das Stadtgebiet und deren Vororte) sowie
            Darmstadt
            (gesamte Veranstaltungsregion mit Ausnahme der Stadt Frankfurt). Mit Schreiben vom 30. Mai 1912 teilte die
            kaiserliche Ober-Postdirektion Darmstadt der kaiserlichen Ober-Postdirektion Frankfurt am Main mit, dass
            unter
            der Schirmherrschaft Ihrer Königlichen Hoheit, der Großherzogin von Hessen, in den Tagen vom 9. bis 16. Juni
            1912 eine Postkartenwoche zum Besten der Mutter- und Säuglingsfürsorge in Hessen stattfinden sollte. Im
            Schriftsatz wurde um die Mitwirkung der kaiserlichen Ober-Postdirektion in Frankfurt am Main ersucht und der
            Besuch des Regierungsrates Pistor als Vertreter des Veranstalters angekündigt. Auf eine gemeinsame
            Berichterstattung an das Reichs-Postamt in Berlin wurde verzichtet. Nach dem Einverständnis der kaiserlichen
            Ober-Postdirektionen Frankfurt am Main berichtete die kaiserliche Ober-Postdirektion Darmstadt dem
            Reichs-Postamt wegen der Kürze der noch zur Verfügung stehenden Zeit telegraphisch von dem geplanten
            Vorhaben.
            Die dortige **Genehmigungsverfügung vom 1. Juni 1912** ging sodann parallel bei den beiden
            Ober-Postdirektionen
            ein:
        </p>
        <p>
            An die kaiserlichen Postämter in Frankfurt am Main und seine eingemeindeten Vororte erging am Mittwoch, dem
            5. Juni 1912 eine Verfügung der kaiserlichen Ober-Postdirektion Frankfurt am Main, welche die Postämter über
            den Verlauf der Postkartenwoche unterrichtete. Ebenso wurden sie besonders auf ihre Mitwirkung hingewiesen.
            Unter anderem hieß es dort:
        </p>
        <blockquote>
            > „Diejenigen Postkarten, die durch die Luftpost befördert werden sollen, erhalten eine weitere, von der
            Großherzoglichen Zentrale für Mutter- und Säuglingsfürsorge in Hessen hergestellte Marke, die auf dem linken
            Teile der Vorderseite in den zu Mitteilungen bestimmten Raum aufgeklebt wird (Luftmarke). …. Zur
            Abstempelung
            dieser Luftschiff-Postkarten und zwar sowohl der Postwertzeichen als auch der Luftmarken werden besondere
            Aufgabestempel benutzt werden. Das Reichs-Postamt hat genehmigt, dass die in der Zeit vom 9. bis 16. Juni in
            den
            Städten, in denen das Luftschiff Post aufnehmen soll, zur Auflieferung kommenden Luftpostkarten durch die
            gewöhnlichen Straßenbriefkästen eingeliefert werden können. Diese Karten sind nicht (in Einzelfällen aber
            dennoch versehentlich praktiziert) mit dem gewöhnlichen Aufgabestempel (Ortsstempel) zu bedrucken, sondern
            auszusondern und bei der nächsten Gelegenheit in einem mit der in die Augen fallenden Aufschrift
            LUFTSCHIFF-POSTKARTEN versehenen Bunde dem Postamt 9 hier zuzuführen, das für ihre Bedruckung mit dem
            besonderen
            Aufgabestempel sowie für ihre Weiterbeförderung Sorge tragen wird. Die von den Luftposten hier eingehenden
            LUFTSCHIFF-POSTKARTEN sind wie gewöhnliche Postsendungen zu behandeln. Die Postagenturen sind von den
            Abrechnungs-Postämtern mit genauer Anweisung zu versehen."
        </blockquote>
        <p>
            Mit Verfügung der kaiserlichen **Ober-Postdirektion Darmstadt vom Freitag, 7. Juni 1912** wurden die
            kaiserlichen Postämter Darmstadt 1, Offenbach (Main), Mainz 1 sowie Worms unterrichtet. Sie erhielten
            folgende
            Anweisung zur Durchführung der Postkartenwoche:
        </p>
        <blockquote>
            > „Die zur Beförderung mit dem Luftschiff bestimmten offiziellen Postkarten der Zentrale für Mutter- und
            Säuglingsfürsorge sollen - abgesehen von der Postfreimarke - mit einer besonderen von der Zentrale
            herausgegeben
            Marke versehen werden, die auf dem für die Mitteilung bestimmten Teil der Vorderseite der Postkarte
            aufgeklebt
            wird. …. Derartige, in den in Betracht kommenden Städten zur Luftbeförderung aufgelieferten Postkarten sind
            mit
            einem besonderen, auf Kosten der Zentrale beschafften Stempel zu bedrucken. …. Die mit den von der Zentrale
            als
            Luftpostkarten gekennzeichneten offiziellen Wohltätigkeits-Postkarten sind bei jeder Kastenleerung
            auszusondern,
            zu zählen und mit dem Sonderstempel sowohl auf dem Postwertzeichen als auch auf der Luftmarke deutlich zu
            bedrucken. …. Sollten die Stempelabdrucke unleserlich ausgefallen sein, so wäre ein dritter Abdruck auf der
            Postkarte herzustellen. …. Die vom 9. Juni ab für den ersten Flugtag eingesammelten Luftpostkarten sind mit
            dem
            Datum des 12. (geplanter erster Flugtermin des Luftschiffes), die später eingelieferten mit dem Datum der
            Anlieferung abzustempeln."
        </blockquote>
        <p>
            Aus der Verfügung der kaiserlichen Ober-Postdirektion Darmstadt an die angeschlossen Postämter geht
            eindeutig hervor, dass das erste Verwendungsdatum des Sonderpoststempels der 12. Juni sein musste,
            gleichgültig ob die
            Luftpostkarten am 9., 10., 11. oder 12. Juni 1912 eingeliefert wurden. Die kaiserliche Ober-Postdirektion
            Frankfurt am Main gab keine derartige Anweisung heraus. Deshalb wurde der Sonderstempel in Frankfurt am Main
            bereits vom 10. Juni an jeweils mit dem gültigen Datum verwendet. Aus der Fachliteratur ist ein
            Stempelabdruck
            Frankfurt (Main) mit dem Datum 9. Juni auf einer Postkarte bekannt, deren Absender der Hersteller des
            Stempels
            ist. Hieraus lässt sich ableiten: Der 9. Juni 1912 ist kein echten echtes Verwendungsdatum.
        </p>
        <p>
            Von der Ober-Postdirektion Frankfurt am Main wurde der dortige Ober-Postinspektor Lindemann mit der
            Durchführung
            der Postkartenwoche beauftragt. In seiner Funktion erhielt er die Anweisung, in Verbindung mit dem Postamt
            Frankfurt 9 alle erforderlichen Maßnahmen und Verabredungen zu treffen. In erster Linie war der Verkauf der
            Karten und Marken zu organisieren. Als Ansprechpartner des Veranstalters benannte man für Frankfurt am Main
            Herrn Dr. Rikoff, ein Mitglied des Flugsportklubs. Mit ihm waren alle Vereinbarungen zu treffen. Er hat auch
            die
            Karten und Flugmarken der Post zum Verkauf übergeben. Herr Lindemann berichtete der Kaiserlichen
            Oberfinanzdirektion Frankfurt am Main am Samstag, 8. Juni 1912:
        </p>
        <blockquote>
            > „Die Karten- und Markenverkaufsstelle im Laden Kaiserstraße 19 wird am Montag, 10 Juni 8 Uhr vormittags
            eröffnet werden. Sie ist werktäglich von 8 Uhr vormittags bis 8 Uhr nachmittags geöffnet, und in der Zeit
            von 8
            Uhr vormittags bis 1 Uhr nachmittags sowie von 3 Uhr bis 8 Uhr nachmittags mit zwei Unterbeamten und in der
            Zeit
            von 1 Uhr bis 3 Uhr nachmittags mit einem Unterbeamten besetzt."
        </blockquote>
        <p>
            TODO Verkauf in Frankfurt am Main, Kaiserstraße 19
            (Gebäude wurde im II. Weltkrieg zerstört)
        </p>
        <p>
            Lindemann betonte ferner, dass die Unterbeamten mit besonderer Sorgfalt ausgewählt worden waren. Das Postamt
            Frankfurt 9 war beauftragt, die Verkaufsstelle zu überwachen und nötigenfalls personell zu verstärken. Am
            Montag, dem 10. Juni 1912 um 7.30 Uhr, fand die geplante Übergabe der Karten und der Flugmarken von Dr.
            Rikoff an die Unterbeamten statt. Das Postamt Frankfurt 9 hatte die Verkaufsstelle mit einem Bestand an 5
            und 10
            Pf-Marken versehen. In den anderen Städten wurden die Vorbereitungen vermutlich in ähnlicher Weise
            getroffen.<br>
            Von Seiten des Veranstalters waren in Offenbach am Main der Kreisarzt Lochmann, in Mainz der
            Provinzialdirektor Geh. Rat Dr. Breidert und in Worms der Oberbürgermeister Köhler und der Polizeiinspektor
            Bischoff
            verantwortlich. Nachdem bereits die Sonderstempel vom Patronat beschafft worden waren, mussten vom
            Veranstalter wenigstens keine besonderen Briefkästen bereit gestellt werden, welche die
            Genehmigungsverfügung des
            Reichs-Postamtes noch vorgesehen hatte. Diese kamen jedoch nicht zum Einsatz, da durch eine zweite Verfügung
            des RPA ausnahmsweise die Mitbenutzung der gewöhnlichen Straßenbriefkästen genehmigt wurde und diese
            Situation
            auch zur vereinzelten Verwendung von einfachen Ortsstempeln auf Luftpostkarten führte, welche versehentlich
            zunächst
            mit der regulären Post verwechselt worden sind.
        </p>
        <p>
            In der Stadt Frankfurt am Main, welche nicht zum Großherzogtum Hessen gehörte, wurden offiziell auch keine
            Karten mit Fotos der Großherzoglichen Familie angeboten. Dennoch gibt es eine Vielzahl solcher Karten, die
            in
            Frankfurt am Main abgestempelt worden sind. Diese Tatsache war den findigen Offenbacher Straßenverkäufern zu
            verdanken. In der Presse wurde damals berichtet, dass „hübsche Offenbacher Mädchen" ihre Karten im
            Straßenverkauf anboten und dort gute Geschäfte gemacht hätten.
        </p>
        <p>
            Mit Rücksicht auf den stärkeren Postkartenverkauf wünschte die Zentrale, von der Großherzogin persönlich
            unterstützt, eine Verlängerung der Veranstaltung um acht Tage in der seitherigen Weise. Der entsprechende
            Antrag
            der Ober-Postdirektion Darmstadt vom Samstag, dem 15. Juni 1912 wurde vom Reichs-Postamt Berlin ohne
            Einwendungen genehmigt.
        </p>
        <p>
            Die bisher erwähnten Telegramme waren nicht die einzigen, die zwischen dem Reichs-Postamt in Berlin und den
            beiden kaiserlichen Ober-Postdirektionen gewechselt wurden. Am Freitag, dem 14. Juni 1912 erhielt die
            kaiserliche Ober-Postdirektion Frankfurt am Main folgende Nachricht:
        </p>
        <blockquote>
            > „Wie in Erfahrung gebracht, wird in Darmstadt private Flugpostmarke auf Karten der Postkartenwoche mit
            amtlichen Aufgabestempel Flugpost am Rhein und Main bedruckt. Falls diese unzulässige Abstempelung auch in
            Frankfurt stattfindet, sofort einstellen."
        </blockquote>
        <p>
            Das Reich-Postamt Berlin wollte also unterbinden, dass der hoheitlich eingesetzte Stempel (obwohl von der
            Zentrale bezahlt) auch auf den privaten Luftpostmarken verwendet wurde. Die telegraphische Antwort der
            kaiserlichen Ober-Postdirektion Frankfurt am Main vom Sonntag, dem 16. Juni 1912 lautete:
        </p>
        <blockquote>
            > „Soeben lese ich nach Rückkehr von Dienstreise das dortige Telegramm vom 14. betreffend der Untersagung
            des
            Bedruckens der Flugpostmarken mit Aufgabestempel Flugpost am Rhein und Main. Damit wird der ganze Zweck
            wohltätiger Bestrebungen lahm gelegt. Da das Verfahren bereits eine Woche besteht, wird weitere Genehmigung
            desselben beantragt und telegraphische Bescheinigung erbeten."
        </blockquote>
        <p>
            Noch am gleichen Tage kam die Antwort vom Reichs-Postamt Berlin:
        </p>
        <blockquote>
            > „Telegraphischer Antrag auf Weiterstempelung der Flugpost in bisheriger Weise genehmigt."
        </blockquote>
        <p>
            Der telegraphische Schriftwechsel mit dem Reichs-Postamt hatte unmittelbar zur Folge, dass die Flugmarken am
            15.
            und 16. Juni teilweise nicht mitabgestempelt wurden. Etliche dieser Karten sind entsprechend später zur
            Abstempelung noch vor der Beförderung gelangt. Es war auch möglich, dass bei Vorlage der Karten die
            Flugmarken
            nachgestempelt worden sind. Dabei existieren Karten, deren beide Stempel im Datum unterschiedlich sind, also
            die
            Luftpostmarke ein späteres Stempeldatum als die reguläre Reichspostmarke auf demselben Exemplar aufweist.
        </p>
        <p>
            In seinem Schlussbericht schrieb der Ober-Postinspektor Lindemann unter anderem:
        </p>
        <blockquote>
            „Infolge des am 14. Juni 1912 vom Reichs-Postamt hier eingegangenen Telegramms, durch das die Abstempelung
            der
            Flugmarken untersagt wurde, sind etwa 300 Flugzeugkarten, so genannte Gelbe-Hund-Karten ohne abgestempelte
            Flugmarken zur Absendung gelangt, während die in vielen tausend Exemplaren bei Ffm 9 vorliegenden,
            gewöhnlichen
            Flugpostkarten, deren Flugmarken nicht gestempelt waren, glücklicherweise noch bis der am 16. abends
            erfolgten
            Zurücknahme der vorstehend erwähnten telegraphischen Verfügung des RPA noch nicht hatten zur Absendung
            gebracht
            werden können. Die Abstempelung der Flugmarken auf diesen Karten hat infolgedessen nachgeholt werden können.
            Es
            ist dies ein besonders glücklicher Zufall gewesen, da andernfalls das PA Ffm 9 mit Beschwerden und Anträgen
            auf
            nachträgliche Abstempelung der Flugmarken seitens des sich benachteiligt haltenden Publikums geradezu
            überflutet
            worden wäre. Von den erwähnten 300 Gelbe-Hund-Karten ist z.B. eine große Zahl dem PA Ffm 9 von den
            Empfängern
            mit dem Antrag wieder zurückgesandt worden, die Abstempelung nachträglich vorzunehmen. Das PA Ffm 9 hat
            diesen
            Anträgen in allen Fällen stattgegeben. …..
            > Bei der Beförderung der Flugpostkarten ist mit besonderer Sorgfalt darauf gehalten worden, dass
            entsprechend
            der Verfügung des RPA vom 1. Juni sämtliche Flugpostkarten, wenigstens streckenweise, sei es mit dem
            Euler-Flugzeug Gelber Hund, sei es mit dem Zeppelin-Luftschiff Schwaben Beförderung erhalten haben."
        </blockquote>
        <p>
            Einige Unternehmen erkannten in der besonderen Postbeförderung eine gute Gelegenheit zur Werbung. Sie
            kauften
            größere Mengen Grußkarten und versahen diese mit einem Werbeeindruck und versandten sie gezielt an ihre
            Kundschaft. Dies war die erste Werbung per Luftpost.
        </p>
        <p>
            Die Reichspost achtete nicht auf die Beschaffenheit der Sendungen. Es wurde nur geprüft, ob Postwertzeichen
            und
            Luftpostmarke als Voraussetzung für die Beförderung aufgebracht waren. Aus diesem Grund gibt es eine Anzahl
            von
            Belegen, die nicht in das Schema der Veranstaltung passen. Beispielsweise kamen Wohlfahrtspostkarten der
            beiden
            Vorjahre zur Verwendung. Sie zählen ebenso zu den seltenen Stücken, wie diverse private Postkarten oder gar
            einzelne Briefsendungen, welche offiziell gar nicht zulässig waren. Raritäten sind auch Karten, die während
            der
            Fahrten des Luftschiffes „Schwaben" an Bord aufgegeben wurden und dort mit dem zusätzlichen Abdruck des
            Bordstempels versehen wurden.
        </p>

        <h4>Ablauf der Veranstaltung</h4>
        <p>
            Das Ereignis wurde von einem respektablen Rahmenprogramm begleitet, welches die gesamte damalige Bevölkerung
            ansprechen sollte und öffentlich weit über die Zunft der reinen Briefmarkensammler hinaus beachtet wurde. So
            wurde der Exerzierplatz in Darmstadt für die Ankunft des Flugzeugs und des Luftschiffes extra abgesperrt und
            Eintritt (20 Pfg. bzw. 50 Pfg) erhoben. Trotzdem fanden sich vor Ort 15 000 begeisterte Zeitzeugen ein,
            welche
            eine Stimmung erzeugten, die keinen Vergleich zur Atmosphäre während eines heutigen Fußball-Bundesligaspiels
            in
            einem großen Stadion scheuen musste.
        </p>
        <p>
            Im **Programm für Darmstadt** heißt es:
        </p>
        <figure>
            <img src="/images/uploads/programm.jpg" alt="Programm für Darmstadt">
            <figcaption>Programm für Darmstadt</figcaption>
        </figure>

        _**Sonntag, den 9. Juni 1912**: Eröffnung der **„Flugpost am Rhein und Main"** (reichspostalischer Stempel:
        „Flugpost am Rhein und Main"). Das Luftpostamt, Rheinstraße 14, ist offen von vormittags 11-1 Uhr. - Großes
        Konzert sämtlicher Militärkapellen der Haupt- und Residenzstadt Darmstadt bei dem Luftpostamt 11 - 12 ½ Uhr.
        (Konzertprogramm in den Tageszeitungen.) Luftpostwertzeichen. (Die wie **üblich frankierte** und mit der
        Luftpostmarke (10 Pfg.) versehene Postkarte kann in jeden Briefkasten der Reichspost geworfen werden; sie wird
        dann mit dem **Zeppelin-Postschiff „Schwaben"** durch die Luft befördert und darauf an jede beliebige Adresse
        des Weltpostverkehrs gesandt.) - Ausgabe der nur in kleiner Auflage erscheinenden **Flugzeugkarten**, befördert
        durch Leutnant von Hiddessen nach aufgedrucktem Postweg._

        _**Montag, den 10. Juni 1912**: Mittags 12-1 Uhr: Militärkonzert auf dem Luisenplatz. Nachmittags 4 Uhr:
        Monstrekonzert der vereinigten Militärkapellen Darmstadts auf dem Darmstädter Exerzierplatz. Eröffnung des
        Flugpostamtes auf dem Exerzierplatz (Südfront); Abholung der auf dem Flugpostamt und am Sonntag und Montag in
        der Stadt (in jeden Briefkasten) aufgegebenen Post. Gegen Abend: **Ankunft der Postflugmaschine „Gelber Hund"**.
        Der Platz ist abgesperrt (Eintritt 20 Pfennig)._

        _**Dienstag, den 11. Juni 1912**: Verkauf der offiziellen Postkarten und Luftpostwertzeichen in den als
        Verkaufsstellen bezeichneten Läden und in dem Luftpostamt._

        _**Mittwoch, den 12. Juni 1912: Mittags 12-1 Uhr**: Drei Militärkonzerte: Luisenplatz, Paradeplatz, Marktplatz.
        4 Uhr nachmittags: Militärkonzert mehrerer Kapellen auf dem Darmstädter Exerzierplatz in der Nähe des
        Flugpostamtes (Südfront). Gegen Abend: **Ankunft des Postluftschiffes (Zeppelinluftschiff) „Schwaben"**.
        Aufnahme der an diesem Tage und vorher aufgegebenen Luftpost durch das Postluftschiff „Schwaben" und Abgabe der
        Post Frankfurt-Darmstadt mittels besonderer Vorrichtungen (Postflugseil). Der Platz ist abgesperrt. Eintritt 50
        Pfennig. Verkauf der Flugpostmarken und -karten._

        _**Donnerstag, den 13. Juni 1912 und Freitag, den 14. Juni 1912**: Verkauf der offiziellen Postkarten und
        Luftpostwertzeichen in den als Verkaufsstellen bezeichneten Läden._

        _**Samstag, den 15. oder Sonntag, den 16. Juni 1912: Wie am Mittwoch** (nach späterer Mitteilung)._

        _Änderungen vorbehalten. Bei Regen und Sturm werden die Veranstaltungen vom 10., 12., 15. (16.) Juni auf einen
        anderen Tag der Woche verlegt, was durch Anschlag bekannt gegeben wird._

        Die Veranstaltung wurde daraufhin von größtem öffentlichen Interesse begleitet, wie das Darmstädter Tagblatt zu
        berichten wusste:

        <blockquote>
            > "Die Postkartenwoche hat gestern (Sonntag, 9. Juni 1912) mit bestem Erfolg ihren Anfang genommen. Bei der
            Eröffnung der Luftpost in der (darmstädter) Rheinstraße war der Andrang so stark, dass zeitweilig durch die
            Polizei abgesperrt werden musste. Mittags zwischen 11.00 und 12.30 Uhr fanden Massenkonzerte sämtlicher
            Militärkapellen der Garnison in der Grafen- und Rheinstraße statt. In den Straßen promenierte ein
            zahlreiches
            festlich gekleidetes Publikum."
            >
            > "Am 10.6. (zweiter Tag) nachmittags zogen sämtliche Militärkapellen der Garnison mit Musik, voran
            berittene
            Postillone, durch die Straßen nach dem Exerzierplatz, wo um 16.00 Uhr das Flugpostamt eröffnet wurde. Große
            gelbe Briefkästen waren vor dem mit Girlanden geschmückten Flugpostamt und auf dem Platz verstreut
            aufgestellt.
            Die Verkaufsstände mit Bildern und namentlich Flugpostkarten nebst Marken waren fortgesetzt belagert, und
            dauernd ergossen sich neue Scharen von Besuchern auf den durch die Militär- und Schutzmannschaften streng
            abgesperrten Platz, wo das Publikum bei dem Monstrekonzert (Armeegroßkonzert) sämtlicher Kapellen
            lustwandelte.
            ..…..
            > Kurz vor 19.00 Uhr verkündeten Hörnersignale der berittenen Postillone das Nahen des Großherzogpaares mit
            Besuch und Gefolge. ….. Das Großherzogspaar unterschrieb vielfach Ansichtskarten. [...] Um 19.30 Uhr schritt
            unter 1000-stimmigen Hurrarufen die Postflugmaschine „Gelber Hund" zur Landung." [...]
            >
            > „Aus Anlaß des Besuchs des Postluftschiffes „Schwaben" ergoß sich am 4. Tag (Mittwoch, 12. Juni 1912)
            wieder
            eine Völkerwanderung nach dem Exerzierplatz, wo man bei Massen-Militärkonzerten promenierte, Postkarten
            kaufte
            usw. Um 17.00 Uhr waren etwa 15 000 Menschen anwesend. [...]"
        </blockquote>

        <p>
            Für die Luftpostbeförderung existierte kein regulärer Fahrplan.
        </p>
        <p>
            Das Luftschiff verband aus wirtschaftlichen Gründen die Postbeutelbeförderung mit Passagierfahrten, wie sie
            entsprechend der vorliegenden Buchungen anfielen. Am 11. Juni traf das Luftschiff "Schwaben", von Baden-Oos
            kommend, um 09.30 Uhr in Frankfurt am Main ein. Am 12. Juni erfolgte zunächst eine Probefahrt nach
            Wiesbaden.
            Diese Fahrt diente unter anderem dazu, die Vorrichtungen für die Aufnahme bzw. Abgabe der Post in den
            anderen
            Orten zu testen. An einer Leine mit einem Haken sollten die 25 kg schweren Postsäcke, mit einem jeweiligen
            Fassungsvermögen von über 5 000 Karten, abgelassen bzw. aufgenommen werden.
        </p>
        <p>
            Am gleichen Tage gegen 18.00 Uhr nahm das Luftschiff seine erste Postfahrt unter Mitführung der
            Reichs-Postflagge vom Rebstock-Gelände in Frankfurt am Main auf. Die Städte Offenbach am Main, Darmstadt und
            Mainz wurden bei dieser Fahrt angesteuert und sie endete wieder am Ausgangsort. In allen Städten wurde Post
            aufgenommen und abgelassen. Am nächsten Tag, dem 13. Juni, fuhr das Luftschiff nach Worms.
        </p>
        <p>
            Während das Flugzeug zur Postübernahme, wie unten ausgeführt, regulär landete, kam das Luftschiff in
            niedriger
            Höhe, in der Luft schwebend, zum Stehen. Der Zeppelin warf die Postbeutel an Fallschirmen ab, während die
            aufzunehmenden Beutel an einem herabgelassenen Seil in die Kabine heraufgezogen wurden. Da dieses Verfahren
            erstmalig praktiziert wurde, war dies naturgemäß mit den üblichen Anfangsschwierigkeiten verbunden, was
            Auszüge
            aus den zeitgenössischen örtlichen Zeitungsberichten belegen:
        </p>
        <blockquote>
            > „Das Luftschiff kommt, ohne zu landen, bis auf zirka 50 m herunter. Ein Postseil wird abgeworfen, 70 m
            lang.
            Daran befindet sich ein Karabinerhaken, der von den Postbeamten rasch in den Ring des bereitgehaltenen
            Postsackes eingehakt wird. Das Postseil läuft mit Gegengewicht auf einer Rolle, so dass es sofort sehr
            schnell
            auf halbe Höhe hinaufgezogen werden und dann nicht mehr mit Bäumen oder Gebäulichkeiten in Berührung kommen
            kann. Während der Weiterfahrt wird der Beutel in die Gondel gezogen."
            <br><br>
            > „Das Luftschiff „Schwaben" warf am Montag, 17. 6.1912 über dem Exerzierplatz in Darmstadt zwei Postbeutel
            mit
            Fallschirm ab. Die bereitgestellte Darmstädter Luftpost konnte nicht übernommen werden, da nach einem
            ausgeworfenen Telegramm das Flugseil in Offenbach am Main infolge ungünstiger Verhältnisse und des starken
            Windes unbrauchbar wurde und abgeschnitten werden musste, so dass die Offenbacher Post zurückblieb."
            <br><br>
            > „Luftpost-Landungs- und -Ladeplatz Darmstadt, Dienstag 18.6.1912. Aus etwa 100 m Höhe warf die „Schwaben"
            den ersten Postkartenbeutel ab, der am Fallschirm ruhig und sanft niederschwebte. Nicht so glatt ging es mit
            dem zweiten Beutel, dessen Last für den Fallschirm zu groß war. Dieser zerriß, und der schwere Beutel sauste
            in die Tiefe. Dieses Schauspiel wiederholte sich noch mehrmals. Sechs Postbeutel flogen so herab, dann hatte
            das Luftschiff den Platz überflogen. Es stieg schnell höher und erschien nach einer Schleife nochmals. Noch
            fünf Postbeutel an Fallschirmen flogen herab. Im ganzen wurden elf schwere Postbeutel herab geworfen. Nicht
            weniger als fünf Fallschirme zerrissen, jedoch nahm niemand Schaden, da der Platz gut abgesperrt war."
        </blockquote>
      
        <p>
            Nach dem Flug nach Worms kehrte das Luftschiff in seinen Heimathafen Baden-Oos zurück. Am 17. Juni traf das
            Luftschiff erneut in Frankfurt am Main ein und führte eine Postfahrt nach Offenbach am Main aus. Dort gab es
            bei der Postaufnahme Schwierigkeiten, so dass der Zeppelin insoweit unverrichteter Dinge nach Frankfurt
            zurückkehrte. Am nächsten Tag, dem 18. Juni, startete die „Schwaben" nach Darmstadt und fuhr mit der dort
            aufgenommen Post wieder nach Frankfurt am Main zurück. Das Luftschiff kehrte dann am 19. Juni nach Baden-Oos
            zurück und warf bei dieser Fahrt in Worms Post ab. Da es bis zur Beendigung der Postkartenwoche am Sonntag,
            dem 23. Juni nicht möglich war, sämtliche eingelieferte Post zu befördern, musste das Luftschiff erneut nach
            Frankfurt am Main kommen. Am 24. Juni (nach anderen Quellen 27. Juni) führte es dann nochmals eine
            abschließende Postfahrt durch. Auch an diesem Tage fuhr die „Schwaben" mit der Reichs-Postflagge.<br>
            Hierbei wurde die eigentlich für das - jetzt defekte - Postflugzeug vorgesehene Restpost mitbefördert und
            auch die noch vom Patronat rasch aufgelieferten Aufbrauchverwendungen mittransportiert. Diese Karten fallen
            durch ihre Adressierung an das „Alte Palais Darmstadt" und dem späten Stempeldatum 23. Juni 1912 auf und
            sind relativ häufig in unterschiedlichen Aufmachungen anzutreffen. Sie wurden nach Ablauf der Veranstaltung
            zu späteren Zeitpunkten insbesondere an große Briefmarkenhändler (z.B. Gebrüder Senf, Leipzig oder Eugen
            Sekula, Luzern
            -
            Schweiz) verkauft. Aber auch diese Karten zeichnen sich durch das Prädikat aus, in der Luft befördert worden
            zu sein.
        </p>
        <p>
            Das Flugzeug landete entsprechend der heutigen Vorstellung völlig normal, benötigte aber aufgrund der
            leichten Bauweise und des geringen Gewichts nur eine relativ kurze Start- und Landebahn. Für die Maschine
            sind folgende Flugzeiten überliefert worden:
        </p>

        <table class="table table-striped dataTable">
            <thead>
            <tr>
                <td>Datum</td>
                <td>Zeit</td>
                <td>Strecke</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Mo, 10. Juni 1912</td>
                <td>19.04 - 19.17 Uhr</td>
                <td>Frankfurt - Darmstadt</td>
            </tr>
            <tr>
                <td>Do, 13. Juni 1912</td>
                <td>15.39 - 15.55 Uhr</td>
                <td>Darmstadt - Worms</td>
            </tr>

            <tr>
                <td> Do, 13. Juni 1912</td>
                <td>18.35 - 19.15 Uhr</td>
                <td>Worms - Mainz</td>
            </tr>
            <tr>
                <td>Mo, 17. Juni 1912</td>
                <td>16.10 - 16.30 Uhr</td>
                <td>Mainz - Frankfurt</td>
            </tr>
            <tr>
                <td>Sa, 22. Juni 1912</td>
                <td> 07.32 - 08.00 Uhr</td>
                <td>Frankfurt - Darmstadt</td>
            </tr>
            <tr>
                <td>Sa, 22. Juni 1912</td>
                <td>19.22 - 19.37 Uhr</td>
                <td>Darmstadt - Frankfurt</td>
            </tr>
            </tbody>
        </table>

        <p>
            Die Pausen waren in dem Maße nicht eingeplant, sondern der Flugplan dünnte sich zwangsläufig durch kleinere
            Schäden und Defekte an der Maschine aus. Die letzte geplante Fahrt am 23. Juni 1912 konnte überhaupt nicht
            mehr durchgeführt werden, statt dessen musste ausnahmsweise das Luftschiff den Transport übernehmen, auch
            soweit „gelbe" oder „rote Hunde" aufgeliefert worden waren.
        </p>
        <p>
            Nach rund einhundert Jahre späterer vorherrschender Ansicht verliert die Luftpostbeförderung ihren Sinn,
            wenn
            der Transport nicht schneller als auf dem gewöhnlichen Weg vonstatten geht. Bei der „Flugpost am Rhein und
            am
            Main 1912" war der Anspruch genau umgekehrt. Meist sammelten sich die eingelieferten Flugpostkarten bei den
            5
            Postabfertigungsstellen zu größeren Mengen an; sie lagerten dort so lange, bis sich am Orte selbst oder bei
            einer anderen Abfertigungsstelle eine Luftbeförderungsgelegenheit bot. Zum Auftakt der Postbeförderung durch
            die
            Luft waren die Maßstäbe noch andere. Die Beförderung durch die Luft war etwas grundsätzlich Neues, wobei der
            Zeitgewinn noch nicht im Vordergrund stand. Für die Rhein-Main-Flugpost galt: Jede Luftpostkarte muss - soll
            will es der anspruchsvolle Sammler - einen Teil ihres Weges durch die Luft nehmen, und sei er auch noch so
            kurz,
            gleichgültig auch, zu welchem Zeitpunkt und in welche Beförderungsrichtung. Geflogen musste die Karte sein,
            höher war das Bedürfnis der Sammler nicht. Viele der aufgelieferten Flugpostkarten waren an Empfänger im
            Aufgabeort gerichtet, manche auch an die eigene Adresse des Auflieferers. Sie erhielten den begehrten
            Sonderstempel, konnten aber erst mit großer Verspätung zugestellt werden, nachdem sie einen beschwerlichen
            Umweg
            durch die Luft genommen hatten. Es galt also eher das olympische Motto: „Dabeisein ist alles"!
        </p>
        <h4>Preisausschreiben</h4>
        <p>
            Was wäre ein öffentliches Ereignis ohne Preisausschreiben? Zum Abschluss der Veranstaltung hin wurden
            Restbestände der Marken zu 10 Pf. und 20. Pf. mit schwarzem Preisrätselaufdruck "E. EL. P." versehen und ab
            22.
            Juni vertrieben. Unklar bleibt bisher, ob die hierfür vorgesehenen Marken bereits zuvor reserviert worden
            waren,
            oder der Geistesblitz während der Veranstaltung gekommen ist, also echte Restbestände verwertet wurden. Wie
            dem
            auch sei, es galt, die Bedeutung der vier Buchstaben zu erraten. Immerhin 600 als Luftpostkarten und an die
            "Flugpost Darmstadt" adressierten Lösungen gingen beim Veranstalter ein. Für die richtige Lösung war eine
            Zeppelin-Freifahrt im Werte von 250 Mark ausgesetzt. Nach der Überlieferung war durch die irreführende
            Anordnung
            der Punkte in dem Aufdruck die Lösung erschwert worden, weil nur ein Preis zur Verfügung stand und deshalb,
            wenn
            möglich, nur eine richtige Lösung eingehen sollte. Falls richtige Lösungen von mehreren Personen eingingen,
            sollte der Preis in Höhe von 250 Mark nach Köpfen aufgeteilt und bar ausgezahlt werden, die
            Luftschifffreifahrt
            also entfallen. Ging keine richtige Lösung ein, verfiel der Preis der Armenkasse.
        </p>
        <p>
            TODO Eine der 600 eingesendeten Karten.
        </p>

        <p>
            Richtig war die Lösung **E**X **E**ST **L**UFT**P**OST (übersetzt: Aus ist Luftpost). Nur einmal ging diese
            ein,
            und zwar von Fräulein Lilli Eiermann aus Nürnberg, auf dem Luftweg mit Sonderstempel Frankfurt (Main),
            23.6.1912, übermittelt. Soweit die offizielle Version.
        </p>
        <p>
            Klare Überlegung hierbei, der Veranstalter war daran interessiert, nur eine richtige Antwort zu bekommen,
            sonst
            hätte der Betrag entweder der Armenkasse zugeführt, oder aber unter den mehreren Gewinnern aufgeteilt werden
            müssen. Der Freiplatz ließ sich dagegen leicht zu günstigeren Konditionen einschieben. Daher ist es eher
            wahrscheinlich, dass die Lösung erst im Nachhinein zu der richtigen erklärt wurde. Denn dass der
            Veranstalter
            einen derart kuriosen, eher sinnfreien Satz, der zudem noch lateinische Begriffe enthält, vorgab und dazu
            noch
            eine entsprechende Lösung einging, ist weniger wahrscheinlich als ein Hauptgewinn im Lotto. Deshalb wurde
            mitunter spekuliert, dass die Lösung der Gewinnerin zuvor verraten worden sei. Was die Buchstaben wohl
            wirklich
            bedeutet haben, erklärt sich aus dem Namen der Schirmherren, des hessischen Großherzogpaares, und dem der
            Veranstaltung: E. EL. P. hieß mit hoher Wahrscheinlichkeit "Eleonore-Ernst-Ludwig-Postkartenwoche". Und
            deshalb
            wurde diese Deutung auch viel zu häufig als Lösung eingesandt. Gleichwohl wird hier die offizielle Version
            vertreten, auch wenn bestimmt ein kleiner Schwindel dahinter steckt.
        </p>
        <p>
            Zu allem Unglück ist das Luftschiff "Schwaben" knapp eine Woche nach der Veranstaltung bei der Landung in
            Düsseldorf abgebrannt, so dass der Preis über ein Schwesterluftschiff der Gewinnerin zuteil geworden ist.
        </p>
        <h4>Ergebnis</h4>
        <p>
            Als Fazit lässt sich festhalten, dass immerhin 460.700 Postkarten durch die Luft befördert wurden und so für
            ein
            hervorragendes Ergebnis sorgten. Insgesamt soll die Postkartenwoche 1912 zum Besten der Mutter- und
            Säuglingsfürsorge einen Reinerlös von 35 000 Mark erbracht haben. Die Veranstaltung war also in jeder
            Hinsicht
            ein Erfolg und wird allen damals Beteiligten als unvergessenes Erlebnis in Erinnerung geblieben sein. Das
            dieses
            Ereignis nicht überboten werden konnte, liegt auf der Hand. Von einer Folgeveranstaltung im Jahre 1913 ist
            nichts überliefert worden. Ein weiteres Jahr später brach der I. Weltkrieg aus, so dass an eine Fortsetzung
            nicht mehr zu denken war. So schließt sich das Kapitel der ersten größeren Luftpostbeförderung in
            Deutschland,
            wenn nicht auf der ganzen Welt.
        </p>


    </div>
</div>

{% include call-to-action.html %}
