<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Machen Sie mehr aus Ihrem IT-Budget</h2>
          <p>Unser Portfolio unterstützt so Ihre mittel- und langfristigen Finanzierungsziele. Zusätzliche Mittel können freigestellt werden: für weitere, wichtige Anschaffungen Ihres Unternehmens.            .</p>
          <a class="btn btn-default btn-call-to-action" href="#">Starten Sie jetzt</a>
        </div>
      </div>
    </div>
  </div>
</section>